/* .header #id1{
 height: 100vh;  
  background-size:100% 100%;
  background-repeat: no-repeat;
}
.content{
    position: relative;
}
.order{
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
/* 
body , html{
    height: 100%;
} */
*{
    font-family: 'Indie Flower', cursive;
    font-size: 100%;
    /* background-attachment: fixed; */
}
#header{
    height: 100%;
}

.wrapper{
    max-width: 100%;
   height: 100vh;
   background: url('./images/restaurent.jpg');
   background-size: cover;
   position: relative;

}
.content-box{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#header p{
    font-size: 2.5em;
    font-weight: bold;
    margin: 1em 0;

}
#header p:hover{
  color: white;

}
.navbar-nav li a {
 color:white;
 font-weight: bold;
}
.navbar-nav li a:hover{
    background-color:greenyellow;
    padding: 8px ;
    border-radius: 4px;
}
.navbar .navbar-brand{
    /* background-color:black; */
    font-weight: bolder;

}
.navbar button{
    background-color:greenyellow;
    opacity: 0.7;
}
.navbar button:hover{
    background-color:grey !important;
    /* opacity: 0.7; */
}

#header .content a{
   
   background-color: white;
   font-size: 2.5em;
   padding: .15em .5em;
   color: blue;
   text-decoration: none;
   border-radius: 4px;
   opacity: 0.7;
}
#header .content a:hover{
    background-color:greenyellow;
    font-size: 2.5em;
    padding: .15em .5em;
    color: blue;
    text-decoration: none;
    opacity: 0.7;
 }

/* end of header */
.col-md-4{
    padding-top: 10px;
    position: relative;
}
#photos img{
    transition: transform 1s ease-in-out;
}
#photos img:hover{
    opacity: 0.8;
    transform: scale(1.15);
}
#photos h2{
    position: absolute;
    top: 50%;
    left: 50%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    transform: translate(-50%,-50%);
    display: none;
}
#photos .col-md-4:hover h2{
    display: block;
}

/* form */

#form{
    padding:3em 2em;
}
#form h1{
    color: red;
}
.form{
    background-color: black;
    opacity: 0.7;
    padding: 2em 1em;
    border-radius: 6px;
}
.form h3{
    color: red;
}
.form  p{
    color: white;
    font-size: 2em;
}
/* footer */
footer .fa{
  color:blue;
  padding: 8px;
  font-size: 2em;
}
footer h3{
    color:red;
    font-size: 2em;
}

.container-counter{
    background-color: black;
    background-size: cover;
    background-position: center;
}
.container-counter{
    padding-top: 20px;
    color: darkmagenta;
}
.icon-box{
    margin: 20px auto;
    align-items: center;
    border: 1px solid darkmagenta;
    border-radius: 50%;
    height:100px;
    width: 100px;
    transform: rotate(45deg);
}
.icon-box .fa{
    margin:25px auto;
    font-size:40px ;
    transform: rotate(-45deg);
}
.container-counter p{
    font-size: 1.5em;
}
.container-counter .counter{
    font-size:5em ;
}



